* { box-sizing: border-box; }

body {
  margin: 0;
  background: #000;
}

p {
  margin: 0;
  padding: 12px;

  font-size: 12px;
  line-height: 8px;
  text-align: justify;

  background-image: url("image.jpeg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;

  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
}
